.image {
    max-height: 570px;
    max-width: 570px;
    width: 100%;
    height: 50%;
}

.caption-textarea:focus {
    outline: none !important;
    border-color: none;
}
.caption-textarea {
    background: transparent;
    border: none;
    overflow: auto;
    resize: none;
    padding: 4px;
}
